.settings {
    display: flex;
}

.settingsWrapper {
    flex: 11;
    position: center;
}

.settingsDeleteAccount {
    color: darkred;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;

}

.settingsForm {
    display: flex;
    flex-direction: column;
    width: stretch;
    position: relative;
    padding: 75px;
}

.settingsUpdateTitle {
    font-size: 30px !important;
    color: #46374d;
    display: flex;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.settingsTitle {
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.settingsPfpInput {
    width: 30%;
}

.settingsPfp {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.settingsPfpIcon {
    width: 50px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsUpdate{
    top: 30px;
    border-radius: 5px;
    font-family: "Cormorant Garamond", serif;
    color: black;
    background-color: #997788;
    left: 100px;
    font-size: 25px;
    width: 175px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsPfp > img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsForm > input {
    color: #46374d;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #46374d;
}