.topNav
{
    background-color: #ccdddd;
    width: 100%;
    position: sticky;
    align-items: center;
    display: flex;
    height: 50px;
    font-family: "Cormorant Garamond", serif;
    z-index: 100;
}

.topCenter {
    flex: 6;

}

.topPfpImg {
    width: 4opx;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topRight, .topLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topNavList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navListItem {
    color: #997788;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}